:root {
    --korean-font: font-family: 'Hi Melody', sans-serif;
    --bubbly-font: font-family: 'Bagel Fat One', sans-serif;
}
body {
  background-color: rgb(55, 140, 156, .8);
}
.container {
 max-width: 1400px;
 margin: 0 auto;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background-color: #f8f8f8;
}

/* Head Banner */
header  {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/seo-1.jpg");
  background-repeat: no repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 180px 0px;
}

header h1 {
  font-size: 96px;
  line-height: 1.5; 
  margin: 0 auto;
}
header h2 {
  font-size: 40px;
  line-height: 1.5;
  margin: 0 auto;
}
header h3 {
  font-size: 24;
  line-height: 1.5;
  letter-spacing: 3px;
  margin: 0 auto;
}
header a {
  display: inline-block;
  font-size: 14px;
  font-weight: 800px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 16px 32px;
  margin-top: 30px;
}
/* Main */
main {
  background-color: white;
}
.img-responsive {
  width: 100%;

}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: black;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: black;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: black;
  opacity: 0.7;
}
/* Main Locations */
.text-center {
  text-align: center;
}
.card {
  background-color: white;
  margin: 30px 0;
}
main h4 {
  font-size: 24px;
  line-height: 1.5;
  margin: 0;

}
main h5 {
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}
.sub-title {
  margin: 0;
  font-size: 12px;
}
.embed {
  width: 100%;
  aspect-ratio: 1 / 1;
}
.card-body {
  padding: 10px 20px;
}
.button {
  display: block;
  color: white;
  background-color: rgba(1,26,31,1);
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  padding: 16px;
  text-decoration: none;
}



/* Grids */
.grid {
  display: grid;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:10px;
}
.grid-3-columns-1-narrow {
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}
.grid-pics {
  grid-template-columns: 1fr 1fr;
}
.grid-pics.grid {
  grid-gap: 0;
}
.grid-pic-height {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.insta-embeds {
 margin: 30px 0;
}




/* Footer */
footer {
  color: white;
  background-image: linear-gradient(rgba(1,26,31,0.8), rgba(1,26,31,0.8)), url("../images/lake-seo.webp");
  background-repeat: no repeat;
  background-size: cover;
  padding: 0;
}
footer h3 {
  font-size: 20px;
  line-height: 30px;
 
}
footer p {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

/* Responsive */
@media(max-width: 800px) {
  header {
    padding: 30px;
  }
  header h1 {
    font-size: 70px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 17px;
  }
  header a {
    font-size: 10px;
    padding: 5px 10px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap:32px
  }
  section {
    padding: 30px;
  }
  .grid-pic-height {
    display: none;
  }
  .embed {
    aspect-ratio: 16 / 9;
  }
}